@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
body {
  background: #feecd2;
  color: var(--foreground);
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-optical-sizing: auto;
}
